*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  color: rgb(153, 153, 153)  ;
  background-color: black;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
}
img{
  width:100%;
  object-fit:cover;
}
h1,
h2{
  color: rgb(255,255,255);
}
a{
  color:inherit;
  text-decoration: none;
}

.wrapper{
  padding-left: 22%;
  padding-right: 22%;
}
header {
  padding-top: 4.5em;
}
.logo{
  width: 40px;
  height: 40px;
  padding-top: 0.5em;
  border-radius: 50%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.15);
}
.logo-icon{
  width: 25px;
}
.main-site-title{
  padding-top: 0.3em;
  padding-left: 17%;
  padding-right: 17%;
  padding-bottom: 0.4em;
  font-size: 3em;
  letter-spacing: -0.03em;
}
.header-button{
  display: inline-block;
  width: 8.5%;  /* для .one-line */
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border-radius: 25px;
  margin-left: 0.5em;
  color: rgb(255,255,255);
  background-color: rgba(255, 255, 255, 0.15);
  font-weight: 700;
}
.header-button-invers{
  margin-left: 0;
  color: black;
  background-color: rgb(255, 255, 255);
}
.one-line {
  white-space: nowrap;     /* забороняє перенесення тексту на новий рядок */
  overflow: hidden;        /* приховує текст, який виходить за межі */
  text-overflow: ellipsis; /* додає трьох крапок у кінці тексту */
}
main{
  padding-top: 6em;
}
.product{
  display: inline-block;
  width: 49%;
  padding: 0em 1em 4.0em;
  cursor: pointer;
  text-align: initial;
  
}
.product-image{
  height: 325px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 25px;
}
.product-title{
  padding-top: 1em;
  font-size: inherit;
}
.product-text{
  padding-top: 0.15em;
}
footer{
  padding-top: 7.5em;
  padding-bottom: 8.8em;
}
.footer-subscribe-bar{
  list-style-type: none;
}
.footer-subscribe-bar li{
  display: inline-block;
  width: 6%;                   /* для .one-line */
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer-subscribe-bar li a{
  display: inline-block;       /* для .one-line */
  width: 100%;                 /* для .one-line */
  padding: 0.5em 0.2em 0.4em;  /* хітбокси */
  color:  rgb(255, 255, 255);
  font-weight: bold;
}
.footer-author-label a {
  display: inline-block;
  width: 11%;
}