*{
  box-sizing: border-box;
}
body{
  color: white; 
  background-color: black;
  text-align: center;
  font-size: 25px;
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
}
img{
  width:100%;
}
h2, a {
  /* 
    Заголовки h2 і посилання не повинні переходити на наступний рядок (повинні займати виключно один рядок!!!)
    Дам обидва варіанти, оскільки невпевнений про що саме у умові
  */
  display: inline-block; /* 2 заголовки не можуть бути на 1 рядку разом */
  white-space: nowrap;   /* Заголовок буде тільки на 1 рядку і не буде переходити на інший*/
}
a{
  color:inherit;
  text-decoration: none;
}
.wrapper{
  margin: 0 22%;
}
.logo{
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff26;
  margin: auto;
  margin-top: 100px;
} 
.main-site-title{
  width: 60%;
  margin: auto;
  margin-top: 30px;
  font-size: 2.7em;
}
.header-buttons-wrapper{
  margin-top: 30px;
}
.header-button{
  display: inline-block;
  width: 135px;
  height: 60px;
  padding: 15px 5px 5px 5px;
  border-radius: 25px;
  background-color: #ffffff26;
  font-weight: bold;
}
.header-button:first-of-type {
  margin-right: 10px;
  color: black;
  background-color: white;
}
main{
  margin-top: 30px;
}
.product{
  display: inline-block;
  /* Чтобы было по 2 в ряд, 1% под отступы заложили */ 
  width: 45%;
  margin: 20px;
  height: 317px;
  margin-top: 150px;
  text-align: initial;
}
.product-image{
  border: 1px solid #ffffff26;
  border-radius: 25px;
  height: 500px;
  object-fit:cover;
}
.product-title{
  margin: 0;
  margin-top: 20px;
  font-size: 1em;
}
.product-text{
  margin-top: 3px;
  margin-bottom: 0;
}
footer{
  margin: 200px 0px;
}
.footer-subscribe-bar{
 padding-left: 0;
 margin-bottom: 5px;
 list-style-type: none;
}
.footer-subscribe-bar li{
  display: inline-block;
  font-weight: bold;
}
.footer-subscribe-bar > :nth-child(-n+2),
.footer-author-label {
  margin-right: 10px;
}
.general-text-style{
  color: #999999;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}